head
    title Password Commonality Checker
    link(rel='stylesheet', href='../../styles/app.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')