extends layout.pug

block content
  div(class='container-fluid')
    div(class='col-xs-12 col-md-8 col-md-offset-2 centered-form')
      form(action='/sendPassword', method='post')
        label Please enter you password:
          input(type='text', name='passwordTing')
        button(type='submit' class='btn btn-primary') Submit
        
        if counter
          p(class='font-italic') your password has been seen at least #{counter} times
        if !counter || counter < 50
          div(class='slider')
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        else if counter < 300
          div(class='slider')
            <span class="glyphicon glyphicon-thumbs-up left-1" aria-hidden="true"></span>
        else if counter < 500
          div(class='slider')
            <span class="glyphicon glyphicon-thumbs-down left-2" aria-hidden="true"></span>
        else if counter < 800
          div(class='slider')
            <span class="glyphicon glyphicon-thumbs-down left-3" aria-hidden="true"></span>
        else if counter < 1000
          div(class='slider')
            <span class="glyphicon glyphicon-thumbs-down left-4" aria-hidden="true"></span>
        else if counter < 2000
          div(class='slider')
            <span class="glyphicon glyphicon-thumbs-down left-5" aria-hidden="true"></span>
        else if counter < 3000
          div(class='slider')
            <span class="glyphicon glyphicon-thumbs-down left-6" aria-hidden="true"></span>
        else if counter < 4000
          div(class='slider')
            <span class="glyphicon glyphicon-thumbs-down left-7" aria-hidden="true"></span>
        else
          div(class='slider')
            <span class="glyphicon glyphicon-thumbs-down right-0" aria-hidden="true"></span>