.font-italic {
    font-style: italic;
}

.centered-form{
    text-align: center;
    background-color: #ecebeb;
    margin-top: 100px;
    min-height: 250px !important;
    border-radius: 1%;
    padding-top: 80px;
}

.btn-primary{
    margin-left: 10px;
}

input[type="text"]{
    margin-left: 10px;
}

.slider{
    height: 25px;
    max-width: 284px;
    margin: auto;
    background: linear-gradient(to right, green , red);
}

.glyphicon{
    font-size: 23px;
    color: white;
    float: left;
    left: 5px;
}

.left-1 {
    left: 10%;
}

.left-2 {
    left: 20%;
}

.left-3 {
    left: 30%;
}

.left-4 {
    left: 40%;
}

.left-5 {
    left: 50%;
}

.left-6 {
    left: 60%;
}

.left-7 {
    left: 70%;
}

.right-0 {
    left: 90%;
}